{
  "extends": ["angular", "airbnb-base"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-var": 0,
    "prefer-template": 0,
    "prefer-arrow-callback": 0,
    "object-shorthand": 0,
    "no-underscore-dangle": 0,
    "func-names": 0 ,
    "space-before-function-paren": ["error", { "anonymous": "never", "named": "never" }],
    "comma-dangle": ["error", "only-multiline"],
    "import/no-unresolved": 0,
    "max-len": 0,
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "no-console": 0,
    "id-length": 0,
    "no-return-assign": 0,
    "no-unused-expressions": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "linebreak-style": [0, "unix"]
  }
}
