<div class='turnovers' ng-app='turnoversApp' ng-controller='TurnoverCtrl'>
  <div class='search'>
    <form>
      <label class='numberLabel'>搜尋代號 ：</label>
      <input id='numberInput' class='numberInput' type='number' min='0' ng-model='number'>

      <label class='dateLabel'>搜尋日期 ：</label>
      <input id='dateInput' class='dateInput' type='date' ng-model='date'>
      <button class='searchBtn' ng-click='search()'>search</button>
    </form>
  </div>
  <table class='table table-bordered table-striped table-hover'>
    <thead>
      <tr>
        <th class='id text-center'>排</th>
        <th class='number text-center'>代號 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='name text-center'>名稱 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='opening_price text-center'>開盤價 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='highest_price text-center'>最高價 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='lowest_price text-center'>最低價 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='closing_yesterday text-center'>昨收盤 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='closing_today text-center'>今收盤 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='volumn text-center'>成交量 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='change text-center'>漲跌 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
        <th class='quote_change text-center'>漲跌幅 <i class='fa fa-caret-down' aria-hidden='true'></i></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='turnover in turnovers'>
        <td class='id text-center'>{{ $index + 1 }}</td>
        <td class='number text-center'>{{ turnover.number }}</td>
        <td class='name text-center'><a ng-href='{{ turnover.hyper_link }}'>{{ turnover.name }}</a></td>
        <td class='opening_price text-center'>{{ turnover.opening_price }}</td>
        <td class='highest_price text-center'>{{ turnover.highest_price }}</td>
        <td class='lowest_price text-center'>{{ turnover.lowest_price }}</td>
        <td class='closing_yesterday text-center'>{{ turnover.closing_yesterday }}</td>
        <td class='closing_today text-center'>{{ turnover.closing_today }}</td>
        <td class='volumn blue text-center'>{{ turnover.volumn }}</td>
        <td class='change text-center {{turnover.colorClass}}'>{{ turnover.symbol }}{{ turnover.changeNum }}</td>
        <td class='quote_change text-center'>{{ turnover.quote_change }}</td>
      </tr>
    </tbody>
  </table>
</div>
