div.turnovers ng-app='turnoversApp' ng-controller='TurnoverCtrl'
  search stock-number='number' search-date='date' search-function='search()' export-function='export()'
  stock-table desc='desc' asc='asc' turnovers='turnovers' sortDesc='sortDesc()' sortAsc='sortAsc()'
