<div class='turnovers' ng-app='turnoversApp' ng-controller='TurnoverCtrl'>
  <search stock-number='number' search-date='date' search-function='search()'></search>
  <stock-table desc='desc' asc='asc' turnovers='turnovers' sortDesc='sortDesc()' sortAsc='sortAsc()'></stock-table>
</div>
